.windowSubtitle {
	font-size: 400%;
	position: absolute;
 	transform: translate(-50%, -50%);
	opacity:0.07;
	font-weight: bold;
	user-select: none;
	-moz-user-select: none;
	left: 50%;
	top: 50%;
	margin: 0;
	pointer-events: none;
}

.answerContainer {
	background-color: White;
	font-size:18px;
	resize:both;
	width:100%;
	position: relative;
	margin: 10px auto;
	min-width: 400px;
	padding:5px 0px;
	overflow:hidden;
	border-radius:10px;
	width:440px;
	height:300px;
	border-bottom-right-radius: 0px;
}

#answerPara, .answerPara {
	box-sizing:border-box;
	height:400px;
	margin-top: 1em;
	margin-bottom:0px;
	padding:1em;
	padding-top:1em;
/* 	max-width:400px; */
	width:100%;
	height:95%; /* slightly lower so resize on Chrome works*/
	position: relative;
	text-align:left;
	white-space:pre-wrap;
}

.chat-container {
	/*width: 500px;*/
	
	width: 100%;
	resize:both;
	background-color: White;
	font-size: 18px;
	position: relative;
	margin: 10px auto;
	padding: 0px;
	overflow:hidden;
	border-radius:10px;
	width: 430px;
	height:500px;
	border-bottom-right-radius: 0px;
}

.chatConsole {
/* 	border: 1px solid #CCCCCC; */
/* 	border-right-color: #999999; */
/* 	border-bottom-color: #999999; */
/*  height: 400px; */
	height: 100%;
	overflow-y: scroll;
	padding: 0px;
	margin-bottom: 5px;
	width: 100%;
	box-sizing: border-box;
	font-size:16px;
	position: relative;
/* 	min-width: 400px; */
}

.chatConsole p {
	padding: 3px 2px 0px 5px;
/* 	padding-left: 5px; */
	margin: 0;
	word-wrap: break-word;
	text-align: left;
}
.chatConsole p strong, .chatConsole p b {
/* 	font-size:18px; */
}

.chatConsole p div {
	/*This is the timestamp */
	color: black;
	float: right;
	font-size: 13px;
	color:gray;
	padding-left:0.25em;
}

input.chat  {
	width: 75%
}

.typingMessage {
/* 	background-color: lavender; */
	background-color: rgba(153, 153, 255, 0.25);
	animation: 1s 1s infinite alternate glowMsg;
}

@keyframes glowMsg {
	from { } to {background-color:white;}
}

.typingUserMessage {
/* 	background-color: cornsilk; */
	background-color: rgba(255, 217, 102, 0.3);
/* 	animation: 1s 1s infinite alternate glowMsg; */
}

.chatUserMessage {
	background-color: LavenderBlush;
	background-color:rgba(255, 169, 162, 0.3);
}

.chatHistoryMessage {
	background-color: LightGoldenRodYellow;
	background-color: rgba(172, 230, 100, 0.4);
}

p.serverMessage {
	text-align: center;
	color: gray;
}

.serverMessage.chatHistoryMessage {
	background-color: LightGoldenRodYellow;
	background-color: rgba(172, 230, 100, 0.3);
}

.pulseMessage {
	animation: 3s;
}

.chatConsole p br {
	clear: both;
}

.chatConsole p div.chatLine {
	/*This is a line break for chat*/
	float: none;
	display: block;
	min-height: 2px;
	clear:both;
}

.chatConsole p img {
	width: 1.5em;
	height: 1.5em;
}

.emoteIcon {
	padding:3px;
	width:3em;
	height:3em;
	float:right;
	border-radius:100%; /*Let the round icon match the hitbox*/
}

.emoteSpeak {
	height:0px;
	width:0px;
/* 	border-top:10px solid transparent; */
	border-right:10px solid transparent;
	border-bottom:10px solid silver;
	position:absolute;
	right:2.5em;
	bottom:1.5em;
	display:none;
	pointer-events:none; 
	/*Dont want to capture this as its at the bottom of the dependancy*/
}

.emoteTablePadding {
	height:300px;
	width:2em;
	position:absolute;
	right:1em;
	bottom:2em;
	display:none;
}

.emoteTable {
	background-color:silver;
	width: 11.5em;
	border-radius:10px;
	list-style-type:none;
	display: none;
	padding:5px;
	position:absolute;
	right:3em;
	bottom:0em;
}

.emoteTable li {
	width: 2em;
	height:2em;
	display:inline-block;
	margin-bottom:1em;
	cursor:pointer;
}

.emoteTable li img {
	transition: all 100ms ease;
}

.emoteTable li img:hover {
	transform: scale(1.3);
	z-index:5;
}

.emoteTable li img:active {
	transform:scale(0.8);
}

.emoteIcon:hover~.emoteTablePadding, .emoteTablePadding:hover{
	display:block;
}

.emoteIcon:hover~.emoteTable, .emoteTable:hover, 
.emoteTablePadding:hover~.emoteTable {
	display:block;
}

.emoteTable:hover ~ .emoteSpeak, .emoteIcon:hover~.emoteSpeak, 
.emoteTablePadding:hover~.emoteSpeak {
	display:block
}