#conversationWindow {
	background-color: rgba(200, 0, 00, 0.7);
	float: left;
	margin: 0px 5px 0px 300px;
	padding: 10px;
	border-radius: 10px;
	min-width: 800px;
}
.chatContainer {
	background-color: White;
	font-size: 18px;
	resize: both;
	width: 100%;
	position: relative;
	margin: 10px auto;
	min-width: 775px;
	padding: 5px 0px;
	overflow: hidden;
	border-radius: 10px;
	width: 410px;
	height: 300px;
	border-bottom-right-radius: 0px;
} 

.tableDiv{
	background-color: White;
	width: 100%;
	font-size: 18px;
	margin: 10px auto;
	padding: 5px;
}