#headerDiv {
	background-color: forestgreen;
}

#bodyDiv {
 	position:absolute;
	height: 87%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

#sidebar {
	position: absolute;
	top: 90px;
	background-color: rgba(200, 00, 00, 0.6);
	min-width: 25px;
	min-height:50px;
	padding:0.5em 0em;
	padding-top: 1em;
	border-radius: 0% 14px 14px 0%;
	transition: transform 1s;
/* 	transform: translateX(-90px); */
	transform: translateX(-120px);
/* 	cursor: pointer; */
	opacity:0;
}

#sidebar.show {
	transform: translateX(0px) !important;
}

#sidebar:hover {
	transition: transform 0.5s;
	transform: translateX(0px) !important;
}

#sidebar p {
	background-color: blue;
	padding: 0.1em 2em 0.1em 1em;
	border-bottom: 5px outset blue;
	font-weight:bold;
	color:snow;
	border-radius: 0% 0% 10% 0%;
	clear:right;
	margin: 2px 0px;
}

#sidebar p.whiteBlink {
	animation: 0.7s infinite alternate whiteBlink;
}

#sidebar p.redWhiteBlink {
	animation: 0.7s infinite alternate redWhiteBlink;
}

@keyframes whiteBlink {
	from { } to {border-color:white; background-color:white;}
}

@keyframes redWhiteBlink {
	0% {}
	33% {background-color:white; border-color:white;}
	66% {background-color:red; border-color:red;}
	100% {}
}

#sidebar img {
	float:right;
	padding:5px;
	padding-top:0px;
	cursor: pointer;
}

h1 {
	font-size: 250%;
	font-weight: bold;
}

.offLeftDiv {
	left: 0%;
	transform: translateX(-120%);
	transition: left 2s, transform 2s, height 4s;
	backface-visibility: hidden;
/* 	height: 400px; */
}

.centerDiv {
	left: 50%;
	transform: translateX(-50%); 
	transition: left 2s, transform 2s, height 4s;
	height:auto;
	backface-visibility: hidden;
	
}

.offRightDiv {
	left: 100%;
	transform: translateX(50%);
	transition: left 2s, transform 2s, height 4s;
	backface-visibility: hidden;
/* 	height: 400px; */
	
}

#loginDiv {
	position: absolute; 
/* 	left: 50%;  */
/* 	transform: translateX(-50%); */
/* 	display:none; */
	width: 480px;
	background-color: rgba(0,0,255,0.1);
	border-radius: 20px;
	margin: 0.5em 1em;
	box-sizing: border-box;
	padding-bottom: 30px;
	
/* 	transition: left 2s, transform 2s; */
	transition: none;
}

#infoDiv {
/* 	display: none; */
/* 	left: 50%; */
/* 	transform: translateX(-50%); */
	background-color:snow;
	border-radius:20px;
	position: absolute;
	padding: 0.5em 1em;
	margin: 0.5em 1em;
	width: 700px;
}

#chatDiv {
	position: absolute;
	width: 100%;
}

h2 {
	text-shadow: 2px 2px darkgreen;
	margin-left: 100px;
}

.inputLabel {
	font-size: 140%;
}

button {
	background-color:lightgreen;
}

.cancelBtn {
	background-color: red;
}

.withdrawBtn {
	background-color: skyblue;
}

.blueBtn {
	background-color:skyblue;
	float:left;
	margin:0 1em;
	border-radius:10%;
}

button:not([disabled]):hover {
  transition: all 0.5s;
  background-color: white;
}

button:not([disabled]):active {
  transition: all 0s;
  background-color: gray;
}

input {
	text-align: center;
	font-size: 100%;
}

input.chat  {
	width: 75%
}

div::-webkit-resizer {
    transform: scale(200, 200);
    /*No idea how to use this thing
    Might use an enlarged picture so Chrome's thing isn't so small,
    seems to be my best option*/
}


#chatWindow, #answerWindow {
	background-color: rgba(0, 0, 200, 0.7);
	padding: 10px;
	border-radius: 10px;
	float: left;
	min-width: 430px;
	position:relative;
}

#answerWindow { 
 	background-color: rgba(200, 0, 00, 0.7);
 	float:left; 
 	margin: 0px 5px 0px 35px;
}

.answerContainer {
	background-color: White;
	font-size:18px;
	resize:both;
	width:100%;
	position: relative;
	margin: 10px auto;
	min-width: 400px;
	padding:5px 0px;
	overflow:hidden;
	border-radius:10px;
	width:410px;
	height:300px;
	border-bottom-right-radius: 0px;
}

.prevDiv {
	height: 1.3em;
	overflow:hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
	margin:0;
	-moz-user-select:none;
	user-select:none;
	transition: height 0.7s;
}

.prevDiv:hover {
	height: 100%;
}

.prevHeader {
	background-color: red;
	color:snow;
	margin: 0px;
	padding: 0.1em;
	cursor: pointer;
}

#prevPara {
	background-color: lightgray;
	margin:0px;
/* 	height:400px; */
	height:100%;
	padding:1em;
	width:100%;
	box-sizing:border-box;
	text-align:left;
	white-space:pre-wrap;
	color: rebeccaPurple;
	overflow-y:auto;
}

#answerPara {
	box-sizing:border-box;
	height:400px;
	margin-top: 1em;
	margin-bottom:0px;
	padding:1em;
	padding-top:1em;
/* 	max-width:400px; */
	width:100%;
	height:100%;
	position: relative;
	text-align:left;
	white-space: pre-wrap; /* preserves whitespace and line-breaks*/
}

#answerInput {
	box-sizing:border-box;
	height:400px;
	margin-top: 1em;
	margin-bottom:0px;
	padding:1em;
	padding-top:1em;
/* 	max-width:400px; */
	width:100%;
	height:100%;
	position: relative;
	text-align:left;
	white-space: pre-wrap; /* preserves whitespace and line-breaks*/
/* 	font-size:80%; */
	font-size:90%;
	overflow-y:auto;
}

.lockedPara {
/* 	position:absolute; */
/* 	left:50%; */
/* 	top: 50%; */
/* 	transform: translate(-50%, -50%); */
	width:100%;
	background-color:gray;
	margin:0;
	color:white;
	font-size:110%;
	opacity:1;
/* 	pointer-events:none; */
	transition: opacity 0.5s, background-color 0.5s ease-out;
	padding: 0.5em 0px;
}

#lockedParaTimer {
	height: 3px;
	background-color:white;
	width:100%;
	transition:width 0.25s;
}

#answerDropDown p {
	color: white;
	height:0px;
	padding:0.5em;
	font-weight:bold;
	font-size:110%;
	margin: 2px 0px;
	transition: height 0.5s, padding 0.5s;
	overflow: hidden;
}

.blackOverlay {
	position: fixed;
	top:0%;
	background-color: black;
	opacity: 0.8;
	width:100%;
	height:100%;
	transition:opacity 0.5s, visibility 0.5s;
	visibility:visible;
}

.answerPopup {
	position: fixed;
	z-index:10;
	width: 500px;
	left:50%;
	top:20%;
	transform: translateX(-50%);
	transition: opacity 0.8s, visibility 0.8s;
	border-radius:10px;
	background-color:whitesmoke;
/* 	padding:0px 5px; */
	padding:2em 1em;
	opacity:1;
	visibility:visible;
}

#answerInputCopy {
	background-color: snow;
	border: 3px solid dimgray;
	padding: 1em;
	white-space: pre-wrap;
	text-align: left;
	border-radius: 5px;
}

.hidePopup {
	opacity:0;
	visibility:hidden;
/* 	pointer-events:none; */
}